@import 'tailwindcss';

.itemList{
    @apply flex justify-between items-center  text-lg border-b-1 p-3 border-b-gray-400;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    background-color: white;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }
  .nameDotsContainer{
    @apply flex items-center gap-3;
  }
  .nameDotsContainer img{
    @apply w-6 h-6 cursor-grab;
  }
  .nameItem{
    @apply text-gray-800;
  }
  .price{
    @apply text-gray-800;
  }
  
  .itemList.dragging {
    opacity: 0.5;
    background-color: #f0f0f0;
    transform: scale(1.05);
  }